site_name: Pipewrench Docs
site_description: Documentation for Your Product
site_url: https://docs.pipewrench.co.uk

theme:
  name: material
  features:
    - navigation.instant
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight

markdown_extensions:
  - admonition
  - tables
  - toc:
      permalink: true
